.navbar {
    background-color: #f8f9fa00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-nav .nav-link {
    background-color: #d4edda;
    /* Color verde claro */
    margin: 0 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #c3e6cb;
    /* Verde más oscuro al pasar el ratón */
}

.navbar-nav .nav-link.active {
    background-color: #28a745;
    /* Verde oscuro */
    color: white;
}