.navbar {
    background-color: #f8f9fa00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-nav .nav-link {
    background-color: #d4edda;
    /* Color verde claro */
    margin: 0 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #c3e6cb;
    /* Verde más oscuro al pasar el ratón */
}

.navbar-nav .nav-link.active {
    background-color: #28a745;
    /* Verde oscuro */
    color: white;
}
.btn-laguntza {
    background-color: #444644f6; /* Color de fondo verde */
    color: rgb(255, 255, 255); /* Color del texto blanco */
    border: 2px solid #f3f8f4; /* Borde verde oscuro */
    font-size: 1.5rem; /* Tamaño del texto */
    padding: 15px 30px; /* Relleno interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave al hacer hover */
  }

  .btn-success {
    background: linear-gradient(135deg, #447dae, #153d65); 
     color: white; /* Color del texto blanco */
     border: 2px solid #045087; /* Borde verde oscuro */
     font-size: 1.5rem; /* Tamaño del texto */
     padding: 15px 30px; /* Relleno interno del botón */
     border-radius: 5px; /* Bordes redondeados */
     transition: all 0.3s ease; /* Transición suave al hacer hover */
   }
   
   .btn-success:hover {
     background-color:  #045087; /* Fondo más oscuro al pasar el cursor */
     border-color:  #045087; /* Color del borde al pasar el cursor */
     transform: translateY(-3px); /* Leve elevación al hacer hover */
   }
   
   .btn-success:active {
     background-color: #045087; /* Fondo aún más oscuro al presionar */
     border-color:  #045087; /* Borde más oscuro al presionar */
     transform: translateY(2px); /* Presión del botón con un pequeño movimiento */
   }