/* Estilo general del cuerpo */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/resources/foto.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Capa de opacidad */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(249, 249, 249, 0.9); /* Capa blanca con opacidad */
  z-index: -1; /* Asegura que la capa no cubra el contenido */
}

/* Estilo de la barra de navegación */
.navbar {
  background-color: rgba(248, 249, 250, 0); /* Transparente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

/* Encabezado principal */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Resta el alto del menú */
  text-align: center;
  flex-direction: column;
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.header p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Animación para el icono de scroll */
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

/* Icono de scroll */
.scroll-icon {
  font-size: 3rem;
  color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 0.5s infinite;
}

@media (max-width: 768px) {
  .header {
    height: auto; /* Cambia la altura fija */
    margin-bottom: 10px; /* Reduce el margen inferior */
  }

  .header h1 {
    margin-bottom: 10px; /* Reduce el margen inferior */
  }

  .header p {
    margin-top: 10px; /* Reduce el margen superior */
  }

  .scroll-section {
    margin-top: -10px; /* Acerca la sección de scroll */
    margin-bottom: 10px; /* Reduce el espacio inferior */
  }

  .scroll-icon {
    position: relative;
    bottom: auto;
    margin-top: 10px; /* Reduce el margen superior */
    margin-bottom: 10px; /* Reduce el margen inferior */
  }
}

/* Sección inferior */
.bottom-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo de los botones */
#buttonsSection button {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 15px 40px;
  margin: 20px;
  border: 2px solid transparent;
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 8px;
}

/* Colores personalizados para los botones */
#buttonsSection .btn-primary,
#buttonsSection .btn-secondary,
#buttonsSection .btn-success {
  background: linear-gradient(135deg, #0d6efd, #153d65);
}

/* Efectos hover */
#buttonsSection button:hover {
  color: #181616;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(235, 227, 227);
}

/* Efecto active */
#buttonsSection button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(22, 21, 21, 0.978);
}



/* Ajuste de altura de botones global */
.btn {
  padding: 15px 20px;
  font-size: 1.1rem;
}

/* Botón primario */
.btn-primary {
  background-color: #0d6efd;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #084298;
}

/* Botón secundario */
.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
